<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="views">
        <p>{{views.length}} views:</p>
        <li ng-repeat="view in views | filter:query" class="thumbnail">
          <a href="#/views/{{view.name}}">{{view.name}}</a>
          <p>URL: <a href="{{view.url}}">{{view.url}}</a></p>
        </li>
      </ul>

    </div>
  </div>
</div>